@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4880ff;
  background-image: url(/images/bg.svg);
}

.hero {
  height: 100vh;
  display: flex;
}
.hero .header {
  flex-direction: column;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 24px;
  border: 0.3px solid #b9b9b9;
  background: #ffffff;
  width: 630px;
}
.hero .main-content .login-box {
  max-width: 630px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 37px;
  padding-top: 60px;
}
.hero .main-content .login-box .login-hero .login-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3px;
}
.hero .main-content .login-box .login-hero .login-header .welcome-text {
  font-family: Nunito Sans;
  font-size: 32px;
  font-weight: 700;
  color: #202224;
}
.hero .main-content .login-box .login-hero .login-header .sub-text {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 600;
  color: #202224;
}
.hero .main-content .login-box .form-container {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}
.hero .main-content .login-box .form-container .input-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero .main-content .login-box .form-container .input-box .title {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 600;
  color: #202224;
}
.hero .main-content .login-box .form-container .input-box #password,
.hero .main-content .login-box .form-container .input-box #email,
.hero .main-content .login-box .form-container .input-box #name {
  width: 516px;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #d8d8d8;
}
.hero .main-content .login-box .form-container .input-box .forget {
  display: flex;
  justify-content: space-between;
}
.hero .main-content .login-box .form-container .input-box .check {
  display: flex;
  align-items: center;
}
.hero .main-content .login-box .form-container .input-box .check input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #a3a3a3;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Ẩn checkbox mặc định */
}
.hero .main-content .login-box .form-container .input-box .check input[type=checkbox]:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}
.hero .main-content .login-box .form-container .input-box .check input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.hero .main-content .login-box .form-container .input-box .check input[type=checkbox].checkbox--error {
  border-color: red;
}
.hero .main-content .login-box .form-container .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 35px;
}
.hero .main-content .login-box .form-container .options .switch-hero {
  display: flex;
  align-items: center;
}
.hero .main-content .login-box .form-container .options .switch-hero .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
}
.hero .main-content .login-box .form-container .options .switch-hero .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.hero .main-content .login-box .form-container .options .switch-hero .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
}
.hero .main-content .login-box .form-container .options .switch-hero .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  transition: 0.4s;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.hero .main-content .login-box .form-container .options .switch-hero input:checked + .slider {
  background-color: #2196f3;
}
.hero .main-content .login-box .form-container .options .switch-hero input:checked + .slider:before {
  transform: translate(20px, -50%);
}
.hero .main-content .login-box .form-container .options .recover-password a {
  color: red;
  text-decoration: none;
}
.hero .main-content .login-box .form-container .sign-up-box {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  margin-bottom: 73px;
}
.hero .main-content .login-box .form-container .sign-up-box .create-button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 172px 14px 172px;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #666;
}
.hero .main-content .login-box .form-container .sign-up-box .create-button:hover {
  background-color: #45a049;
  color: #f9f9f9;
}
.hero .main-content .login-box .form-container .sign-up-box input.input--error {
  border: 2px solid #ba0808; /* Viền đỏ để báo lỗi */
}/*# sourceMappingURL=auth.css.map */